/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2017, 1:22:56 PM
    Author     : royplomantes
*/


.navbar-default {
    background-color: #053f6f;
    border-color: #d3e0e9;
}

a:focus, a:hover {
    color: #216a94;
    text-decoration: none;
}